<div class="card__about-container">
    <div class="about-content">
            <div class="content-title">                
                <h1 class="title-greet">{{titleGreet}}</h1>
                <h1 class="tittle-show"> <span> eu sou </span>{{titleShow}}</h1>
                <h3 class="tittle-function">{{titleFunction}}</h3>                
            </div>
            <div class="content-image">
                <img src="{{imageCard}}" alt="">
            </div>
    </div>
    <div class="about-contatic" (click)="openWhatsappContatic()">
        <span>Contate-me</span>
        <img src="{{contaticIcon}}" alt="">
    </div>
</div>
