@import url("../../../assets/css/global.css");

.card__skill-container {
    display: flex;
    flex-direction: column;    
    width: 120px;
    height: 180px;
    align-items: center;
    color: var(--text-color);
    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
    gap: 16px;
    box-shadow: 1px 1px 10px 2px var(--primary-color);
    background: var(--card-bg-color);
}

.card__skill-image {
    margin-top: 6px;
    width: 120px;
    height: 120px;
    padding: 4px;    
}
