@import url(../../../assets/css/global.css);
:host{
    display: block;   
    height: 280px;
}
.card__blog-content{
    display: flex;  
    flex-direction: column;
    align-items: center;    
    width: 250px;    
    height: 100%;
    gap: 5px;  
    border: 2px solid white ;
    box-shadow: 1px 1px 1px whitesmoke;
    box-sizing: border-box;
    border-radius: 5px;
}
.card__blog-content>img{
    width: 100%;
    height: 200px;    
    border-bottom: 1px solid white;      
}
.card__blog-content>h1{
    margin-top: 5px;
    font-size: 1.1rem;
    font-family: Luckiest;    
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);    
}
.card__blog-content>p{
    text-align: center;
    color:var(--primary-color);
    font-family:Roboto;
    font-weight: 500;
    padding: 4px;
    letter-spacing: 1px;
}

.card__blog-content:hover{
    cursor: pointer;
    border: 2px solid var(--primary-color) ;
    box-shadow: 0px 0px 3px 3px  var(--primary-color);
}
