@import url(normalize.css);
@import url(globalFonts.css);
:root {
    --primary-color: #add8e6;
    --secondary-color: #f0f8ff; 
    --backgroundcolor: #2b2a2c;       
    --text-color:#fff;
    --link-color: #0b8fc4;
    --card-bg-color: linear-gradient(0deg, transparent, #089ca1);
    --btn-bg-color-gradient: linear-gradient(
        45deg,
        #34efe6 0%,
        #03494e 20%,
        transparent 50%
      );
}

body{
    margin: 0;
    padding: 0;    
    background-color: var(--backgroundcolor);   
}

  