
<div class="main__blog-container">
    <app-card-blog
    id="1" 
    photoCover="../assets/images/blog/CSharp/csharp-icon.png"
    contentTitle="Conteúdos de C#"
    contentSubTitle="Minha Visão e aprendizado do C#"></app-card-blog>
    <app-card-blog 
    id="2"
    photoCover="../assets/images/blog/JavaScript/javascript.png" 
    contentTitle="Conteúdos de JavaScript"
    contentSubTitle="Minha Visão e aprendizado do JavaScript"> 
    </app-card-blog>
    <app-card-blog 
    id="3"
    photoCover="../assets/images/blog/Html/html.png" 
    contentTitle="Conteúdos de HTML5"
    contentSubTitle="Minha Visão e aprendizado do HTML5"> 
    </app-card-blog>
    <app-card-blog 
    id="4"
    photoCover="../assets/images/blog/SQL/sql.png" 
    contentTitle="Conteúdos de SQL"
    contentSubTitle="Minha Visão e aprendizado do SQL"> 
    </app-card-blog>  
    <app-card-blog 
    id="5"
    photoCover="../assets/images/blog/Books/resumodoslivros.webp" 
    contentTitle="Resumo de Livros"
    contentSubTitle="Anotações e resumo dos livros que estou lendo"> 
    </app-card-blog>
</div>
