<div class="academic__container">
    <div class="acamedic__content">
        <div class="content-course">
            <h1 class="year-couser">
                <span class="dot"></span>2021
            </h1>
            <h1 class="title-course">Análise e Desenvolvimento de Sistemas</h1>
            <h3 class="title-institution">Universidade Paulista-UNIP</h3>
            <P class="course-description"> <span class="dot"></span>
                Objetivos do curso de Análise e Desenvolvimento de Sistemas:
            </P>

            <p class="course-description"> O curso superior de Tecnologia em Análise e Desenvolvimento de Sistemas da
                UNIP tem o objetivo de
                capacitar o aluno a projetar,
                documentar,especificar, implementar, testar, implantar e manter sistemas computacionais de informação.
                Para tanto, o aluno utiliza modernas ferramentas computacionais, bem como métodos e técnicas avançadas
                para projetos aplicados durante todo o ciclo de desenvolvimento de sistemas, e conta, ainda, com
                professores altamente qualificados.</p>

            <p class="course-description"> <span class="dot"></span> Atividades Principais:</p>
            <p class="course-description">
                Projetar, desenvolver, implantar e manter Sistemas de Informação;
                gerenciar equipes de desenvolvimento de sistemas;
                diagnosticar problemas e propor melhorias baseadas em sistemas computacionais;
                aplicar adequadamente recursos computacionais (hardware e software);
                projetar e implementar Sistemas de Informação aderentes aos objetivos estratégicos das organizações;
                produzir software utilizando métodos e técnicas adequadas e visando a alcançar os atributos essenciais
                de software.
            </p>
            <p class="course-description">
                <span class="dot"></span> Duração do Curso
            </p>
            <p class="course-description">
                2 anos
            </p>
            <h1 class="year-couser">
                <span class="dot"></span>Em andamento, conclusão em Dezembro/2023
            </h1>
        </div>
    </div>
</div>

<div class="academic__container">
    <div class="acamedic__content">
        <div class="content-course">
            <h1 class="year-couser">
                <span class="dot"></span>2023
            </h1>
            <h1 class="title-course">Programa Sharp Coders 2023</h1>
            <h3 class="title-institution">Ímã Tech</h3>
            <P class="course-description"> <span class="dot"></span>
                O programa Sharp Coders 2023:
            </P>
            <p class="course-description">São 6 meses de aprendizado intensivo,
                com 300 horas de conteúdo aprofundado gravado e ao vivo.
            </p>
            <p class="course-description"> Atividades práticas e mentoria. Aprendendo na
                prática o que o aluno encontrará no mercado de trabalho.
            </p>
            <p class="course-description"> Aulas expositivas e atividades práticas para
                desenvolvimento de soft skills como comunicação, trabalho em equipe, adaptabilidade e muitas outras.
            </p>

            <p class="course-description">
                <span class="dot"></span> Duração do Curso
            </p>
            <p class="course-description">
                6 Meses
            </p>
            <h1 class="year-couser">
                <span class="dot"></span>Em andamento, conclusão em Março/2024
            </h1>
        </div>
    </div>
</div>