<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Vogado</title>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <nav class="navbar__container">
        <div class="navbar__content">
            <picture class="navbar__content-photoPerfil">
                <img src="assets/images/perfil/perfilMarcusVogado.jpg"
                    alt="Foto do Marcus Vogado assinando um documento, marcus de pele parda, usando terno cor azul escuro e gravata rosa com detalhes brancos">
                <span>Marcus Vogado</span>
            </picture>
            <div class="navbar__content-itens" onclick="">
                <div class="navbar__content-item">
                    <img src="assets/images/menuIcons/certificate.png" alt="">
                    <span>
                        Resumo
                    </span>
                </div>
            </div>
            <div class="navbar__content-itens" onclick="">
                <div class="navbar__content-item">
                    <img src="assets/images/menuIcons/face.png" alt="">
                    <span>
                        Quem sou
                    </span>
                </div>
            </div>
            <div class="navbar__content-itens" (click)="goToProjetos()">
                <div class="navbar__content-item">
                    <img src="assets/images/menuIcons/software-development.png" alt="">
                    <span>
                        Projetos
                    </span>
                </div>
            </div>           
           
            <div class="navbar__content-itens" >
                <div class="navbar__content-item">
                    <img src="assets/images/menuIcons/blogging.png" alt="">
                    <span>
                        Blog
                    </span>
                </div>
            </div>
          
            <div class="navbar__content-itens">
                <div class="navbar__content-item">
                    <img src="assets/images/menuIcons/email.png" alt="">
                    <span>
                        Contato
                    </span>
                </div>
            </div>
        </div>
        <footer class="footer__container">
            <div class="footer__content-item-socialmedia">
                <img src="assets/images/socialMedia/github.png" alt="logo do git hub" onclick="">
                <img src="assets/images/socialMedia/linkedin.png" alt="logo do linkedin" onclick="">
            </div>
            <div class="footer__content-item-copyright">
                <p>2023 &copy; Marcus Vogado</p>
                <p>Todos os direitos reservados</p>
            </div>
        </footer>
    </nav>
    <main class="main__container">
        <div class="main__container-title">
            <p>Olá, eu sou Marcus Vogado<span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
        </div>
    </main>       
</body>

</html>
