<div class="main__container">
    <app-title-article titleArticle="Formação"></app-title-article>
    <div class="academic__content">       
        <app-card-academic></app-card-academic>
    </div>
    <app-title-article titleArticle="Minhas Skills"></app-title-article>
    <div class="skills__content">        
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/csharp.png" cardSkillDescription="C#">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/java.png" cardSkillDescription="Java">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/dotnet.png" cardSkillDescription=".net">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/angular.png" cardSkillDescription="Angular">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/html.png" cardSkillDescription="HTML">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/css.png" cardSkillDescription="Css">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/git.png" cardSkillDescription="GIT">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/github.png" cardSkillDescription="GITHUB">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/js.png" cardSkillDescription="JavaScript">
        </app-card-skills>
        <app-card-skills cardSkillPhoto="../assets/images/skillsImage/sql.png" cardSkillDescription="SQL">
        </app-card-skills>      
        
    </div>
    <div class="courses__content">
        <app-title-article titleArticle="Cursos"></app-title-article>
    </div>
</div>