@import url("../../../assets/css/global.css");
.main__container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 0px 250px;  
    gap: 10px;
}

.skills__content{
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1f1f1f;
    padding: 30px; 
    
}

@media screen and (max-width:760px) {
    .main__container{
        margin: 10px 0px 0px 0px;
        justify-content: center;
        align-items: center;
    }
}