@import url("../../../assets/css/global.css");
.main__container{
    display: flex; 
    flex-direction: column;       
    margin: 10px 0px 0px 30%; 
    max-width: 700px; 
    gap: 10px;
}

.skills__content{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 700px;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    flex-wrap: wrap;   
    background-color: #1f1f1f;
    padding: 30px;    
}

@media screen and (max-width:760px) {
    .main__container{
        margin: 10px 0px 0px 0px;
        justify-content: center;
        align-items: center;
    }
    .skills__content{
        grid-template-columns: repeat(2, 1fr);
    }
}