<div class="main__blog-container">
    <app-card-blog     
    photoCover="../assets/images/blog/CSharp/content/variaveiscsharp.png"
    contentTitle="Variáveis em C#"
    contentSubTitle="Oque eu aprendi sobre variáveis"></app-card-blog>
    <app-card-blog    
    photoCover="../assets/images/blog/CSharp/content/entradaesaidacsharp.png"
    contentTitle="Entrada e saída de dados"    
    contentSubTitle="Oque eu aprendi sobre input e output"   
    >    
    </app-card-blog>
    <app-card-blog    
    photoCover="../assets/images/blog/CSharp/content/estruturadedados.png"
    contentTitle="Estrutura de dados"
    contentSubTitle="Oque aprendi sobre estrutura de dados"> 
    </app-card-blog>
    <app-card-blog    
    photoCover="../assets/images/blog/CSharp/content/conversaodedados.png"
    contentTitle="Conversão de dados"
    contentSubTitle="Conversão de dados implicita e explícita "> 
    </app-card-blog>  
    <app-card-blog    
    photoCover="../assets/images/blog/CSharp/content/tuplascsharp.png"
    contentTitle="Tuplas em C#"
    contentSubTitle="Oque aprendi sobre tuplas"> 
    </app-card-blog>
    <app-card-blog    
    photoCover="../assets/images/blog/CSharp/content/listcsharp.png"
    contentTitle="Listas em C#"
    contentSubTitle="Oque aprendi sobre listas"> 
    </app-card-blog>
    <app-card-blog    
    photoCover="../assets/images/blog/CSharp/content/queuecsharp.png"
    contentTitle="Fila em C#"
    contentSubTitle="Oque aprendi sobre Filas"> 
    </app-card-blog>
    <app-card-blog    
    photoCover="../assets/images/blog/CSharp/content/stackcsharp.png"
    contentTitle="Pilhas em C#"
    contentSubTitle="Oque aprendi sobre tuplas"> 
    </app-card-blog>
</div>